<div class="container">
  <div class="row align-items-start">
    <div class="col-7 ">
      <app-info [showme]="showInfo"></app-info>
      <!-- <app-info [showme]="showInfo" (infoDefined)="onInfoChanged($event)"></app-info> -->
      <app-sourcefile [showme]="showSource" [sourcepath]="config.from.filepath" (pathDefined)="onFilePathChanged($event)"></app-sourcefile>
      <app-format [showme]="showFormat" (formatDefined)="onFormatChanged($event)"></app-format>
      <app-target [showme]="showDestination" [tablename]="config.tablename" (nameDefined)="onTableNameChanged($event)"></app-target>
      <app-fields
        [showme]="showFields"
        [fields]="config.fields"
        (fieldsChanged)="onFieldsChanged($event)"
        (fieldsDone)="onLoadData($event)">
      </app-fields>
    </div>
    <div class="col-5">
      <app-datapreview [config]="config"></app-datapreview>
    </div>
  </div>
</div>
